# Create Dataframe

Where the 'dataToDataframe' function is developped. Converts data into a pandas dataframe.

In [1]:
%matplotlib qt
import sys
sys.path.append('../DataGeneration/')
from DataGenerator import DataGenerator
from Potential import GravPot
import numpy as np
import pandas as pd

In [2]:
medianPos = [0, 0, 0];
medianMoment= [0, 0, 0];
covMoment = [[1., 0, 0], [0, 1., 0], [0, 0, 1.]];
covPos= [[1., 0, 0], [0, 1., 0], [0, 0, 1.]];
GravityPot=GravPot();
data = DataGenerator(10);
data.GenerateInitialCondition( medianPos, covPos, medianMoment, covMoment);   
    
data.SetPotential(GravityPot);
initTime = 0.
finalTime =1.
numberPoints=100
time=np.linspace(initTime, finalTime, numberPoints)
data.Propagate(time);
data.PlotData();

/home/guimas/anaconda2/envs/py36/lib/python3.6/site-packages/scipy/integrate/odepack.py:236: ODEintWarning: Excess work done on this call (perhaps wrong Dfun type). Run with full_output = 1 to get quantitative information.
  warnings.warn(warning_msg, ODEintWarning)

In [3]:
data.data1[0].CurrentState.statToVec()

array([-7733.37973519,  -168.78989042,  4557.3165487 , -8980.46899905,
       -1551.23639375, 11664.63113129])

Initial conditions for the first particle

In [4]:
data.data1[0].Trajectory[0].statToVec()

array([-0.19128359, -0.27820415,  0.85905248,  0.79917066,  0.98554067,
        2.84706745])

State at the end of simulation time for the last paeticle

In [5]:
data.data1[0].Trajectory[-1].statToVec()

array([-7733.37973519,  -168.78989042,  4557.3165487 , -8980.46899905,
       -1551.23639375, 11664.63113129])

Initial condition for the second particle

In [6]:
data.data2[0].Trajectory[0].statToVec()

array([-1.20226403, -1.25834061, -1.18365005, -1.38309294,  2.40966862,
        1.15940332])

Final condition for the second particle

In [7]:
data.data2[0].Trajectory[0].statToVec()

array([-1.20226403, -1.25834061, -1.18365005, -1.38309294,  2.40966862,
        1.15940332])

In [8]:
# idea number 1 -- create a panda dataframes with the initial and final states for pairs of particles

In [9]:
len(data.data1)

10

In [10]:
mat = np.zeros((len(data.data1),2*len(data.data1[0].Trajectory[0].statToVec())))
for i in range(len(data.data1)):
    mat[i,:] = np.array([*data.data1[i].Trajectory[0].statToVec(),*data.data2[i].Trajectory[0].statToVec()])

### Select the header

In [11]:
header = ['xi1','yi1','zi1','pxi1','pyi1','pzi1','xi2','yi2','zi2','pxi2','pyi2','pzi2']

In [12]:
df = pd.DataFrame(data=mat, columns=header)

In [13]:
df

,xi1,yi1,zi1,pxi1,pyi1,pzi1,xi2,yi2,zi2,pxi2,pyi2,pzi2
0,-0.191284,-0.278204,0.859052,0.799171,0.985541,2.847067,-1.202264,-1.258341,-1.183650,-1.383093,2.409669,1.159403
1,-0.373553,-0.182037,0.672511,1.147264,0.586826,0.575362,1.728549,1.573925,-0.573910,0.348797,0.984578,2.309406
2,-0.356662,-1.047794,-1.114685,-0.130352,-0.652876,1.170255,-0.856076,-0.150077,-1.675466,-0.669335,1.239063,0.023564
3,-0.299873,1.081254,-0.197105,0.896265,0.836662,-1.333916,0.568527,0.079906,-1.811234,0.463999,-0.396357,-0.752809
4,2.644010,-0.414863,0.816311,-0.317662,0.500257,-0.697748,0.083414,0.783524,0.280158,-1.298947,-0.202346,-0.505570
5,1.197169,1.773522,-0.287430,1.028080,-1.587069,-2.475746,-1.125660,0.011436,0.043035,0.743030,0.625095,-0.259035
6,2.471403,-0.121734,3.201680,1.245273,0.694118,1.003647,-0.397292,-0.360076,1.175075,-0.224398,-0.018911,0.470317
7,1.334084,1.002604,0.590724,1.970350,-0.698908,0.582885,0.893935,-0.367053,0.317740,-0.727489,0.524307,-0.937773
8,0.327127,0.876437,-1.241527,-0.889473,-0.464980,-1.318597,-1.382967,0.971514,0.834097,0.866457,0.982276,0.069924
9,1.077131,-0.064017,-1.409197,-1.562334,1.355903,-1.701384,0.656362,-0.580865,-0.430120,-0.399701,-1.781950,-1.601330

### Function to create dataframe

In [18]:
def dataToDataframe(data):
    """Creates a dataframe from the data object
    
    Parameters
    -----------
    data: PATOBJECT!
        Something really ducky!
    
    Returns
    -----------
    df: pandas Dataframe
        A dataframe with the data.
    """
    
    header = ['xi1','yi1','zi1','pxi1','pyi1','pzi1','xi2','yi2','zi2','pxi2','pyi2','pzi2',
              'xf1','yf1','zf1','pxf1','pyf1','pzf1','xf2','yf2','zf2','pxf2','pyf2','pzf2']
    
    mat = np.zeros((len(data.data1),4*len(data.data1[0].Trajectory[0].statToVec())))
    for i in range(len(data.data1)):
        mat[i,:] = np.array([*data.data1[i].Trajectory[0].statToVec(),
                             *data.data2[i].Trajectory[0].statToVec(),
                             *data.data1[i].Trajectory[-1].statToVec(),
                             *data.data2[i].Trajectory[-1].statToVec()])
        
    df = pd.DataFrame(data=mat, columns=header)
    return df

In [19]:
qua = dataToDataframe(data)

In [20]:
qua.head()

,xi1,yi1,zi1,pxi1,pyi1,pzi1,xi2,yi2,zi2,pxi2,...,zf1,pxf1,pyf1,pzf1,xf2,yf2,zf2,pxf2,pyf2,pzf2
0,-0.191284,-0.278204,0.859052,0.799171,0.985541,2.847067,-1.202264,-1.258341,-1.183650,-1.383093,...,4557.316549,-8980.468999,-1551.236394,11664.631131,-3253.900943,-1491.729096,7089.755640,-2092.956000,-239.175026,1350.613205
1,-0.373553,-0.182037,0.672511,1.147264,0.586826,0.575362,1.728549,1.573925,-0.573910,0.348797,...,-3092.595035,9236.914074,9175.510299,-19806.953450,9836.924810,9634.824657,-16526.801400,12900.120462,12148.236182,-5892.296087
2,-0.356662,-1.047794,-1.114685,-0.130352,-0.652876,1.170255,-0.856076,-0.150077,-1.675466,-0.669335,...,9150.721536,18761.370003,-25209.751336,1675.316328,4264.117718,-10227.585894,10476.691008,-10451.252350,4989.722911,19188.599310
3,-0.299873,1.081254,-0.197105,0.896265,0.836662,-1.333916,0.568527,0.079906,-1.811234,0.463999,...,-12126.295339,-803.550496,-9234.622264,-11648.609315,96.062379,-7876.046508,-10988.709197,14144.629525,5154.238913,-11302.425790
4,2.644010,-0.414863,0.816311,-0.317662,0.500257,-0.697748,0.083414,0.783524,0.280158,-1.298947,...,-528.383720,5951.414907,-35384.912722,-15159.138608,19617.305711,-9160.157480,-625.570308,32358.302256,16646.269985,13567.881475