In [6]:
import sys
sys.path.append('../InputData/')
from pivottablejs import pivot_ui
from ParseCalib import read_calib_file
import matplotlib.pyplot as plt

In [2]:
df = read_calib_file('../data/calib.dat')

In [3]:
df.head()

,qi01,qi02,qi03,qi04,qi05,qi06,qi07,qi08,qi09,qi10,...,vcmxf2,vcmyf2,vcmzf2,dcolf,mangxf1,mangyf1,mangzf1,mangxf2,mangyf2,mangzf2
ID,,,,,,,,,,,,,,,,,,,,,
500001,0.123737,-3.665007,0.358154,-0.123737,-3.299180,-0.358154,0.085994,3.236029,0.263250,-0.085994,...,-0.000115,-0.001766,-0.017285,7.107554,-0.001333,0.000298,0.000709,-0.001413,0.000143,0.000906
500002,-0.162479,-3.578801,-0.035046,0.162479,-4.146284,0.035046,-0.389997,4.015099,-0.127386,0.389997,...,-0.000035,-0.000245,-0.045222,7.728730,-0.000055,0.000021,0.000546,0.000005,0.000012,-0.000002
500003,0.134875,-1.861337,0.343628,-0.134875,-2.293239,-0.343628,-0.250974,1.999965,0.306252,0.250974,...,0.000250,0.010454,-0.016176,4.299312,0.000144,-0.000070,-0.000246,-0.002918,-0.000428,-0.002649
500004,0.083603,-3.037833,0.132645,-0.083603,-3.626661,-0.132645,-0.060392,3.214813,-0.397379,0.060392,...,0.000090,-0.001727,-0.035157,6.643401,0.002461,0.000265,-0.001094,0.000723,0.000065,-0.000127
500005,-0.018947,-0.552252,0.079245,0.018947,0.068335,-0.079245,0.303439,0.404606,-0.018483,-0.303439,...,-0.000528,0.001866,0.004836,0.828373,0.000819,-0.000147,-0.004079,0.006734,-0.006845,0.006264

In [5]:
df.dcoli

ID
500001      6.964187
500002      7.725085
500003      4.154576
500004      6.664493
500005      0.483917
500006      3.448556
500007      6.333144
500008      3.694066
500009      2.714102
500010      5.880436
500011      2.392132
500012      1.746695
500013      7.139837
500014      5.088368
500015      4.899624
500016      7.495988
500017      6.197617
500018      6.136642
500019      7.659460
500020      3.247147
500021      4.079883
500022      2.895707
500023      4.829695
500024      3.046644
500025      7.964101
500026      5.419821
500027      7.448297
500028      7.622297
500029      7.826348
500030      7.559316
              ...
50004971    7.921781
50004972    7.182683
50004973    6.264129
50004974    5.269010
50004975    5.820937
50004976    7.847492
50004977    6.073661
50004978    7.037505
50004979    6.221063
50004980    2.544796
50004981    6.273249
50004982    4.560190
50004983    7.299955
50004984    5.467468
50004985    4.763363
50004986    4.695594
50004987    7.969589
50004988    5.766369
50004989    5.095341
50004990    5.011078
50004991    6.805549
50004992    5.619013
50004993    2.816648
50004994    7.430216
50004995    3.758206
50004996    5.844780
50004997    7.037492
50004998    7.698346
50004999    7.664990
50005000    4.639860
Name: dcoli, Length: 44532, dtype: float64

In [ ]:
df.plot.scatter(x='dcoli', y='dcolf')
plt.show()